# ignores the project's requirements, wich are
# downloadable as a .pdf file on the run.codes system
*.pdf

# ignores the compiled files (to generate them, run "$ make all")
*.bin

# ignores the .zip "release", wich will be sent to the
# run.codes system for the evaluation
*.zip

# ignores the test files
testing/*
